-webkit-appearance: none; 

body {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 20vh; 
    width: 100%;
}

ul {
    list-style: none;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
    margin-right: 25px;
}

li {
    float: left;
    padding: 8px;
}

li img {
    width: 25px;
    height: 25px;
}

#google_logo {
    margin: 28px auto;
    width: fit-content;
}

input {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font: 16px sans-serif;
}
