body {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 22vh; 
    width: 100%;
    list-style: none 
}

ul {
    list-style: none;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
}

li {
    float: left;
    padding: 8px;
}

li img {
    width: 25px;
    height: 25px;
}